html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(./img/banner.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    width: 100%;
}